<h1>Editing Book</h1>
<!-- form_forの部分 -->

<%= form_for(@book) do |f| %>
<div class="toukou-edit">
 <h4 class="toukou-title">Title</h4>
 <%= f.text_field :title %>
 <h4 class="toukou-title">Body</h4>
 <%= f.text_field :body %><br>
 </br>
 <%= f.submit 'Update Book' %>
 <br>

 <div class="modoru">
 <%=link_to "Edit", edit_book_path %>  <span>|</span> <%=link_to "Back", "/books" %>
</div>
 </div>
 <% end %>